svg(version="1.1"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px" y="0px"
	viewBox="0 0 250 321"
	enable-background="new 0 0 250 321"
	xml:space="preserve" id="two" class="number")
	path(class="crashed" display="inline" fill="none" d="M201.1,89.8c0-1.2,0-2.5-0.1-3.6h41.1c0,12.5-1.6,24.5-4.8,35.9c-0.3,0.9-0.5,1.8-0.8,2.7 h-42.5C198.7,113.3,201.1,101.6,201.1,89.8z M177.9,134.3c-4.8,9-11.8,18.7-20.8,29h48c1.7-2.4,3.4-4.8,5-7.3 c6.7-10.2,11.6-20.6,14.9-31.3h-42.5C181.1,128,179.6,131.2,177.9,134.3z M91.5,205.8c-9.6,7.9-24.5,19.5-44.7,34.8h56 c9.3-6.9,18.7-14.3,28.2-22c7.1-5.7,13.5-11.3,19.2-16.6H96.1C94.6,203.3,93.1,204.5,91.5,205.8z M109.5,202h54.2 c5.5-5.1,10.4-10,14.6-14.8c6.8-7.5,13.1-15.5,19-23.8h-48C138.8,175.4,125.6,188.2,109.5,202z M230.7,85.8c0-14.3-2.7-26.8-8-37.7 c-0.1-0.2-0.2-0.3-0.3-0.5h-54.8c1.9,1.1,3.7,2.3,5.4,3.6c10.3,7.9,15.9,19.6,16.6,35h41.1C230.7,86,230.7,85.9,230.7,85.8z M62.6,283.5c2.2-1.5,4.3-2.9,6.4-4.3H16.6c-3.2,2.4-6.4,4.8-9.7,7.2L0,317.8h197.4l7.5-34.3H62.6z M142.9,240.6h-56 c-14.5,11-31.7,23.8-51.6,38.6h52.4c16.5-11.1,30.7-20.9,42.6-29.4C134.5,246.8,138.7,243.7,142.9,240.6z M228.2,22.1 c-8.3-5.7-17.5-10.1-27.5-13.2c-1.2-0.4-2.4-0.7-3.6-1.1c-11.4-3.1-23.7-4.7-36.7-4.7c-16.6,0-32.3,1.9-47,5.7 c-11.9,3.1-23.1,7.4-33.8,13l6,25.7l1.8,7.5c5.6-2.9,11.3-5.4,17.1-7.5c16.5-6.1,33.6-9.2,51.3-9.2c15.9,0,29.1,3.1,39.6,9.2H250 C244.7,36.9,237.4,28.4,228.2,22.1z")
	path(class="normal" fill="none" d="M189.1,89.8c0-1.2,0-2.5-0.1-3.6h41.1c0,12.5-1.6,24.5-4.8,35.9c-0.3,0.9-0.5,1.8-0.8,2.7h-42.5 C186.7,113.3,189.1,101.6,189.1,89.8z M176.9,134.3c-4.8,9-11.8,18.7-20.8,29h48c1.7-2.4,3.4-4.8,5-7.3 c6.7-10.2,11.6-20.6,14.9-31.3h-42.5C180.1,128,178.6,131.2,176.9,134.3z M112.5,205.8c-9.6,7.9-24.5,19.5-44.7,34.8h56 c9.3-6.9,18.7-14.3,28.2-22c7.1-5.7,13.5-11.3,19.2-16.6h-54.2C115.6,203.3,114.1,204.5,112.5,205.8z M116.5,202h54.2 c5.5-5.1,10.4-10,14.6-14.8c6.8-7.5,13.1-15.5,19-23.8h-48C145.8,175.4,132.6,188.2,116.5,202z M229.7,85.8c0-14.3-2.7-26.8-8-37.7 c-0.1-0.2-0.2-0.3-0.3-0.5h-54.8c1.9,1.1,3.7,2.3,5.4,3.6c10.3,7.9,15.9,19.6,16.6,35h41.1C229.7,86,229.7,85.9,229.7,85.8z M62.6,283.5c2.2-1.5,4.3-2.9,6.4-4.3H16.6c-3.2,2.4-6.4,4.8-9.7,7.2L0,317.8h197.4l7.5-34.3H62.6z M123.9,240.6h-56 c-14.5,11-31.7,23.8-51.6,38.6h52.4c16.5-11.1,30.7-20.9,42.6-29.4C115.5,246.8,119.7,243.7,123.9,240.6z M200.2,22.1 c-8.3-5.7-17.5-10.1-27.5-13.2c-1.2-0.4-2.4-0.7-3.6-1.1c-11.4-3.1-23.7-4.7-36.7-4.7c-16.6,0-32.3,1.9-47,5.7 c-11.9,3.1-23.1,7.4-33.8,13l6,25.7l1.8,7.5c5.6-2.9,11.3-5.4,17.1-7.5c16.5-6.1,33.6-9.2,51.3-9.2c15.9,0,29.1,3.1,39.6,9.2H222 C216.7,36.9,209.4,28.4,200.2,22.1z")
