.home.content-inner.js-anim
	.content.overlay
		.logo.big
			img(src="i/logo-full-blue.svg" alt="4" width="160px" height="112px")
		.container-fluid.ver-center
			h1
				span.first на всі
				img(src="i/4.svg" alt="4" width="154px" height="219px")
				span.second сторони
			.desc
				p 4 герої вирушають мандрувати на Peugeot 2008.
				p
					| Вони накрутять тисячі кілометрів, щоб випробувати можливості&nbsp;
					br
					| найновішого кросовера в різних куточках України та поділитися
					br
					| своїми враженнями. Приєднайся до них!
		.scroll
			span скрол
		video(autoplay poster="i/bg-home.jpg" id="bgvid" playsinline  muted loop="loop")
			source(src="video/PEUGEOT_2008_1602Film75s_YOUTUBE_EN.webm" type="video/webm")
			source(src="video/PEUGEOT_2008_1602Film75s_YOUTUBE_EN.mp4" type="video/mp4")