.btn-menu-wrap
	button.btn-menu.js-menu.js-anim
		span.line
		span.line
		span.line
		span.text.open Меню
		span.text.close Закрити
.menu.content-inner.overlay-menu.overlay-contentscale
	.content.gray
		#menu.ver-center
			ul
				li
					a(href="index.html#home" data-page="home")
						span(class="glitch" data-text="головна") головна
				li
					a(href="index.html#stories" data-page="stories")
						span(class="glitch" data-text="iсторії") iсторії
				li
					a(href="index.html#rules" data-page="rules")
						span(class="glitch" data-text="правила") правила
				li
					a(href="index.html#test-drive" data-page="test-drive")
						span(class="glitch" data-text="тест-драйв") тест-драйв