.story.content-inner
	.content
		.container-fluid
			.intro.overlay.scroll-wrap(style="background-image: url('../i/story-1-cover.jpg')")
				.title-wrap
					include ../partials/title
				h1 стильна осінь
				.desc
					p На цьому місці буде невеликий абзац про нову колекцію з новеньким Peugeot 2008 до ландшафтного парку.
				.scroll
					span скрол
			.enroll
				.row
					.col.left.col-lg-6
						p
							| Отримай новий Peugeot 2008 на 2 тижні!
							br
							| Записуйся на тест-драйв.
					.col.col-lg-6
						include ../partials/btn-enroll
			.story-content
				.section.panel-grid
					p text text text
				.section.panel-grid
					img(src="i/bg-home.jpg")
				.section
					p text text text
				.section.panel-grid
					img(src="i/logo-full.svg")
				.section.panel-grid
					p На цьому місці буде невеликий абзац про нову колекцію з новеньким Peugeot 2008 до ландшафтного парку.
					p На цьому місці буде невеликий абзац про нову колекцію з новеньким Peugeot 2008 до ландшафтного парку.
					p На цьому місці буде невеликий абзац про нову колекцію з новеньким Peugeot 2008 до ландшафтного парку.
				.section.panel-grid
					img(src="i/bg-rules.jpg")
