.stories.content-inner.js-anim
	.content.gray
		.container-fluid
			.stories-wrap.row
				include ../partials/title
				section#talents-section.section
					#talents-section-inset
						#talents-section-images
							#talent-1.talent-wrapper(data-index='0')
								.talent
									.talent-static(data-image='../i/backgrounds/story-1-cover-small.jpg', style='background-image: url("../i/story-1-cover-small.jpg")')
									.talent-piece-image.-active(data-image='../i/story-1-cover.jpg', style='background-image: url("i/story-1-cover.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-damiano.jpg', style='background-image: url("i/backgrounds/visual-home-damiano.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-caner.jpg', style='background-image: url("i/backgrounds/visual-home-caner.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-mimi.jpg', style="background-image: url('../i/backgrounds/visual-home-mimi.jpg')")
									.talent-text
										.name Pure tech
										.city Високу контрольованість випробовує фотограф Віталій Юрасов
							#talent-2.talent-wrapper(data-index='1')
								.talent
									.talent-static(data-image='../i/backgrounds/static-home-damiano.jpg', style='background-image: url("i/backgrounds/static-home-damiano.jpg")')
									.talent-piece-image.-active(data-image='../i/story-1-cover.jpg', style='background-image: url("i/story-1-cover.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-damiano.jpg', style='background-image: url("i/backgrounds/visual-home-damiano.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-caner.jpg', style='background-image: url("i/backgrounds/visual-home-caner.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-mimi.jpg', style='background-image: url("i/backgrounds/visual-home-mimi.jpg")')
									.talent-text
										.name i-cokpit
										.city Cучасність стилю випробовують моделі Candy’s Dress
							#talent-3.talent-wrapper(data-index='2')
								.talent
									.talent-static(data-image='../i/backgrounds/static-home-caner.jpg', style='background-image: url("i/backgrounds/static-home-caner.jpg")')
									.talent-piece-image.-active(data-image='../i/story-1-cover.jpg', style='background-image: url("i/story-1-cover.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-damiano.jpg', style='background-image: url("i/backgrounds/visual-home-damiano.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-caner.jpg', style='background-image: url("i/backgrounds/visual-home-caner.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-mimi.jpg', style='background-image: url("i/backgrounds/visual-home-mimi.jpg")')
									.talent-text
										.name design
										.city Зручність керування випробовує фітнес-тренер Анна Цукур
							#talent-4.talent-wrapper(data-index='3')
								.talent
									.talent-static(data-image='../i/backgrounds/static-home-mimi.jpg', style='background-image: url("i/backgrounds/static-home-mimi.jpg")')
									.talent-piece-image.-active(data-image='../i/story-1-cover.jpg', style='background-image: url("i/story-1-cover.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-damiano.jpg', style='background-image: url("i/backgrounds/visual-home-damiano.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-caner.jpg', style='background-image: url("i/backgrounds/visual-home-caner.jpg")')
									.talent-piece-image(data-image='../i/backgrounds/visual-home-mimi.jpg', style='background-image: url("i/backgrounds/visual-home-mimi.jpg")')
									.talent-text
										.name grip-control
										.city Економічність двигуна випробовує журналіст  Дмитро Раімов
						#talents-overlay
							#talent-1-overlay.talent-overlay(data-index='0')
								a.-nofill.talent-cta(href="story.html")
									span.title Фітнес подорож
									span.desc з новим peugeot 2008
							#talent-2-overlay.talent-overlay(data-index='1')
								a.-nofill.talent-cta(href="story.html")
									span.title Фітнес подорож
									span.desc з новим peugeot 2008
							#talent-3-overlay.talent-overlay(data-index='2')
								a.-nofill.talent-cta(href="story.html")
									span.title Фітнес подорож
									span.desc з новим peugeot 2008
							#talent-4-overlay.talent-overlay(data-index='3')
								a.-nofill.talent-cta(href="story.html")
									span.title Фітнес подорож
									span.desc з новим peugeot 2008
				section#home-carousel.home-carousel.section
					#home-carousel-inset
						.navigation
							a.active(data-prev='true')
							a(data-next='true')
						#home-carousel-front.home-carousel-inset.owl-carousel
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/backgrounds/visual-home-tablet-mimi.jpg')")
								.wrapper
									h2.name Pure tech
									h3.city Анна Цукур
									a.btn.-nofill(href="story.html") Познакомся с историей
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/story-1-cover-tablet.jpg')")
								.wrapper
									h2.name i-cokpit
									h3.city Анна Цукур
									a.btn.-nofill(href="story.html") Познакомся с историей
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/backgrounds/visual-home-tablet-damiano.jpg')")
								.wrapper
									h2.name design
									h3.city Анна Цукур
									a.btn.-nofill(href="story.html") Познакомся с историей
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/backgrounds/visual-home-tablet-caner.jpg')")
								.wrapper
									h2.name grip-control
									h3.city Анна Цукур
									a.btn.-nofill(href="story.html") Познакомся с историей
						#home-carousel-back.home-carousel-inset.owl-carousel
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/backgrounds/visual-home-tablet-mimi.jpg')")
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/story-1-cover-tablet.jpg')")
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/backgrounds/visual-home-tablet-damiano.jpg')")
							.talent-slide(data-href='story.html')
								.background(style="background-image: url('../i/backgrounds/visual-home-tablet-caner.jpg')")
				.section-grid.section
					span
					span
					span
			.enroll
				.row
					.col.left.col-lg-6
						p
							| Отримай новий Peugeot 2008 на 2 тижні!
							br
							| Записуйся на тест-драйв.
					.col.col-lg-6
						include ../partials/btn-enroll