.test-drive.content-inner.js-anim
	.content.gray
		.container-fluid
			include ../partials/welcome
			.test-drive-form-wrap
				.row
					.col-lg-3.title-box
						h4 Запис на тест-драйв
					.col-lg-9.form-box
						.test-drive-form
							form#test-drive-form
								.row
									.form-group
										span.input.input--hoshi
											input.form-control.input__field--hoshi(type="text" id="input-name" name="name")
											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for="input-name")
												span.input__label-content.input__label-content--hoshi Ім'я
									.form-group.lg
										span.input.input--hoshi
											input.form-control.input__field--hoshi(type="text" id="input-surname" name="surname")
											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for="input-surname")
												span.input__label-content.input__label-content--hoshi Прізвище
								.row
									.form-group
										span.input.input--hoshi
											input.form-control.input__field--hoshi(type="text" id="input-phone" name="phone" value="+38 0")
											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for="input-phone")
												span.input__label-content.input__label-content--hoshi Телефон
									.form-group.lg
										span.input.input--hoshi
											input.form-control.input__field--hoshi(type="email" id="input-email" name="email")
											label.input__label.input__label--hoshi.input__label--hoshi-color-1(for="input-email")
												span.input__label-content.input__label-content--hoshi E-mail
								.row
									.form-group.ovfVis
										span.list-title Місто
										//- label.error Обери місто
										select(id="cd-dropdown" class="cd-select" name="city")
											option(value="-1" selected) Місто
											option(data-id="1" value="1") Київ
											option(data-id="2" value="2") Бориспіль
											option(data-id="3" value="3") Вінниця
											option(data-id="4" value="4") Дніпро
											option(data-id="5" value="5") Житомир
											option(data-id="6" value="6") Львів
											option(data-id="1" value="1") Київ
											option(data-id="2" value="2") Бориспіль
											option(data-id="3" value="3") Вінниця
											option(data-id="4" value="4") Дніпро
											option(data-id="5" value="5") Житомир
											option(data-id="6" value="6") Львів
									.form-group.lg.ovfVis
										span.list-title Дилер
										//- label.error Обери дилера
										select(id="cd-dropdown-dillers" class="cd-select" name="diller")
											option(value="-1" selected) Дилер
											option(data-city="1" value="1" data-desc="Київ, вул. Богатирська, 1А. Тел.: (044) 225 01 01" class="additional-desc") ПЕЖО ЦЕНТР «АВТОПАСАЖ»
											option(data-city="1" value="2" data-desc="Київ, вул. Кільцева дорога, 60. Тел.: (044) 591 30 00" class="additional-desc") ПЕЖО ЦЕНТР «ВІДІ АВЕНЮ»
											option(data-city="6" value="3" data-desc="Київ, вул. Залізничне шосе, 6. Тел.: (044) 495 11 55" class="additional-desc") ПЕЖО ЦЕНТР «ІЛТА НА ПЕЧЕРСЬКУ»
											option(data-city="4" value="4" data-desc="Київ, вул. Ревуцького, 56. Тел.: (044) 220 02 22" class="additional-desc") ПЕЖО ЦЕНТР «ІЛТА НА ХАРКІВСЬКОМУ»
								.row
									.btn-group.clearfix
										.form-group
											button.btn.btn-default.js-submit.btn-anim.js-btn-animation(type="submit")
												span.text Відправити
												span.lines-wrap
													span.line
													span.line
													span.line
													span.line
													span.line
													span.line
													span.line
													span.line
													span.line
													span.line
										.form-group.lg.col-sm-6
											span.note відправляючи цю форму ти надаєш згоду передати свої персональні дані компанії «Пежо Сітроен Україна»
						.success.hidden
							h5 Дякуємо!
							p Твоя заявка на тест-драйв прийнята. Чекай на дзвінок менеджера найближчим часом.
							a.btn.btn-default.btn-anim.js-btn-animation.js-success(type="button")
								span.text OK, буду чекати
								span.lines-wrap
									span.line
									span.line
									span.line
									span.line
									span.line
									span.line
									span.line
									span.line
									span.line
									span.line
				.logo.small.hidden-xs.js-btn-home
					a(href="index.html")
						img(src="i/logo-full-blue.svg" alt="4" width="114px" height="81px")