@media(min-width: 970px)
	body
		&:not(.tablet)
			.btn-menu
				opacity 1
				transform translate(0, 0)
				transition-property opacity, transform
				transition-duration 0.3s, 0.3s
				transition-timing-function linear
				.line
					&:first-child
					&:nth-child(2)
					&:nth-child(3)
						opacity 1
					&:first-child
						transform translate(0, -10px)
					&:nth-child(2)
					&:nth-child(3)
						transform translate(0, 0)
						transition-delay 0.2s
					&:nth-child(3)
						transform translate(0, 10px)
			.home
				h1
					opacity 1
					// transition opacity 0.3s ease-in-out 0s
					transition-property opacity, padding
					transition-duration 0.9s, 0.8s
					transition-timing-function ease-in-out
					.first
					.second
						span
							transition-property opacity, padding
							transition-duration 0.6s, 0.3s
							transition-timing-function ease-in-out
							opacity 1
							padding 0
					img
						opacity 1
						transition opacity 0.6s ease-in-out 0s
				.desc
					opacity 1
					transform translate(0, 0)
					transition-property opacity, transform
					transition-duration 0.5s
					transition-timing-function ease
					transition-delay 0.4s
				.scroll
					span
						opacity 1
						transition opacity 0.3s ease 1s
					&:before
						transition height 0.3s ease 0.9s
			.welcome
				.bg
					transition all 0.5s ease-in
				.right
				.left
					transform translate(0, 0)
					transition transform 0.3s linear 0.3s
				.left
					transform translate(0, -50%)
				.right
					text-align right
					transform translate(0, 0)
			.instructions
				.box
					p
						opacity 1
						transform translate(0, 0)
						transition-property opacity, transform
						transition-duration 0.4s, 0.4s
						transition-timing-function linear, ease
					&.box-1
						p
							transition-delay 0.7s
						.letter
							transition-delay 0.6s
					&.box-2
						p
							transition-delay 1.1s
						.letter
							transition-delay 0.8s
					&.box-3
						p
							transition-delay 1.3s
						.letter
							transition-delay 0.9s
					.letter
						opacity 1
						transform translate(0, 0)
						transition-property opacity, transform
						transition-duration 0.4s, 0.4s
						transition-timing-function linear, ease
			.enroll
				transition transform 0.3s linear 1.5s
				transform translate(0, 0)
				.btn
				.logo
				.link
					transition transform 0.3s linear
					transform translate(0, 0)
				.btn
					transition-delay 1.8s
				.logo
					transition-delay 2.2s
				.link
					transition-delay 2.2s
			.stories
				.enroll
					transition-delay 0.6s
					.btn
						transition-delay 0.9s
					.logo
						transition-delay 1.2s
			.test-drive
				.title-box
				.form-box
				.logo
					opacity 1
					transform translate(0, 0)
					transition-property opacity, transform
					transition-timing-function ease
					transition-duration 0.4s
				.title-box
					transition-delay 0.3s
				.form-box
					transition-delay 0.6s
				.logo
					transition-delay 0.9s
			.js-anim
				&.btn-menu
					opacity 0.3
					transform translate(-100%, 0)
					.line
						&:first-child
						&:nth-child(2)
						&:nth-child(3)
							opacity 0.3
						&:first-child
							transform translate(200%, 0)
						&:nth-child(2)
							transform translate(200%, -10px)
						&:nth-child(3)
							transform translate(200%, -10px)
				&.home
					// h1
					// 	opacity 0
					// span
					// 	opacity 0
					h1
						.first
						.second
							span
								opacity 0
								padding 0 5px
						img
							opacity 0
					.desc
						opacity 0
						transform translate(0, 100%)
					.scroll
						span
							opacity 0
						&:before
							height 0
				.welcome
					.bg
						height 0
					.left
						transform translate(-50%, -50%)
					.right
						transform translate(50%, 0)
				.instructions
					.box
						p
							opacity 0
							transform translate(0, 100%)
						.letter
							opacity 0
							transform translate(0, 80%)
				.enroll
					transform translate(0, 150%)
					.btn
					.logo
					.link
						transform translate(0, 300%)
				&.test-drive
					.title-box
					.form-box
					.logo
						opacity 0
						transform translate(0, 100%)