@import '../../../bower_components/normalize.styl/normalize.styl'

font-color = #000000
selection-bg = #ffffff
link-color = inherit
link-visited = inherit
link-hover = inherit

html
	color: font-color
	font-size 1em
	line-height 1.4
	margin 0 !important
/*
 * Disable webkit tap highlight
 */
html
body
	-webkit-tap-highlight-color rgba(0,0,0,0)
	height 100%
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection
	background selection-bg
	text-shadow none
::selection
	background selection-bg
	text-shadow none
/*
 * A better looking default horizontal rule
 */
hr
	display block
	height 1px
	border 0
	border-top 1px solid #ccc
	margin 0
	padding 0
/*
 * Remove default fieldset styles.
 */
fieldset
	border 0
	margin 0
	padding 0
/*
 * Allow only vertical resizing of textareas.
 */
textarea
	resize vertical
p
	margin 0
/* ==|== custom styles =============================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden
	display none !important
	visibility hidden
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden
	.focusable
		&:active
		&:focus
			clip auto
			height auto
			margin 0
			overflow visible
			position static
			width auto
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible
	visibility hidden
.clearfix
	&:before
	&:after
	content " "
	display table
	&:after
		clear both
.ovfHid
	height 100%
	overflow hidden

@import 'fonts.styl'
@import 'vars.styl'
@import 'bootstrap.styl'

*
*::after
*::before
	box-sizing border-box

html
body
	height 100%
	font-family 'peugeotregular'
h1, h2, h3, h4, h5, h6
	font-weight normal
	text-transform uppercase
	margin 0
p
	font-size 23px
	line-height 28px
	color $blue
	font-family 'peugeotlight'
	span
		color $blueLight
.wrapper
	position relative
	@media(max-width: 969px)
		height auto !important
.content-inner
	padding 40px
	// height 100%
	box-sizing border-box
	.content
		height 100%
		overflow hidden
		position relative
		&.gray
			background $gray
	@media(max-width: 991px)
		padding 20px

.ver-center
	position relative
	// top 50%
	// transform translateY(-50%)

.logo
	&.small
		position absolute
		right 59px
		bottom 59px
		z-index 200
		@media(max-width: 749px)
			display block !important
			right 15px
			bottom 30px
			img
				display block
				margin 0 auto
				max-width 80%
				height auto
		@media (min-width: 970px) and (max-height: 800px)
			.logo
				&.small
					right 39px
					bottom 39px
.img-responsive
	display block
	margin 0 auto
	max-width 100%

.btn-group
	position relative

.note
	font-size 16px
	line-height 18px
	color $gray3
	font-family 'peugeotlight'
	display block
	padding-top 15px
	position relative
	&:before
		content "*"
		position absolute
		right 100%
		margin-left -15px

.link
	font-size 16px
	line-height 20px
	color $blue
	font-family 'peugeotlight'
	text-decoration underline
	cursor pointer
	&:visited
		color $blue
	&:focus
	&:hover
	&:active
		color $blueLight

.overlay
	&:before
		content ""
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		background alpha($blueDark, 0.1)
		display block

input:-webkit-autofill
input:-webkit-autofill:hover
input:-webkit-autofill:focus
input:-webkit-autofill:active
	-webkit-transition "color 9999s ease-out, background-color 9999s ease-out"
	-webkit-transition-delay 9999s

@import 'scrollPane.styl'
@import 'preloader.styl'
@import 'btns.styl'
// @import 'lightslider.styl'
@import 'owl.carousel.css'
@import 'animation.styl'
@import 'slider.styl'
@import 'welcome.styl'
@import 'menu.styl'
@import 'home.styl'
@import 'rules.styl'
@import 'test-drive.styl'
@import 'stories.styl'
@import 'stories-anim.styl'
@import 'home-transition.styl'
@import 'story.styl'