// random(min,max)
// 	return floor(math(0, 'random')*(max - min + 1) + min)
.btn
	font-size 23px
	line-height 1
	font-family 'Exo 2', sans-serif
	font-weight 300
	display inline-block
	cursor pointer
	padding 34px 25px
	// padding 34px 55px
	border none
	text-decoration none
	text-align center
	&.btn-default
		background $blue
		color $white
	&:disabled
		background $gray2
	@media(min-width: 750px)
		min-width 241px
.btn
	&.btn-anim
		position relative
		background transparent
.btn-anim
	.text
		position relative
		z-index 2
		background $blue
	.lines-wrap
		position absolute
		z-index 1
		top 0
		left 0
		width 100%
		height 100%
		z-index 1
	.line
		display block
		width 100%
		height 11%
		margin-top -1px
		background $blue
		transform translate(0, 0)
		transition transform 0.3s ease 0s
	// &:hover
	// 	.line
	// 		for i in (1..10)
	// 			&:nth-child({i})
	// 				transform translateX(random(5, 8)+'%')
	// 			&:nth-of-type(even)
	// 				transform translateX(s("-%s%",i))