.home
	.logo
		&.big
			background $white
			position absolute
			top 0
			right 90px
			width 200px
			padding 45px 0 22px 0
			img
				display block
				margin 0 auto
				max-width 100%
				height auto
			@media (max-width: 1300px)
				padding 22px 16px 10px
				right 57px
				width 123px
			@media (max-width: 768px)
				right 15px
	.content
		color $white
		position relative
	h1
		font-family 'peugeotbold_italic'
		line-height 1
		text-align center
		margin 0 0 100px 0
		@media(min-width: 992px)
			font-size 133px
		img
			margin 0 25px -25px 25px
		@media(max-width: 749px)
			position relative
			text-align right
			margin-bottom 20px !important
			padding-top 100px
			.first
			.second
				position absolute
				display block
				font-size 30px
			.first
				bottom 0
				right 120px
				bottom 35px
			.second
				bottom 0
				right 100px
			img
				display inline-block
				width 100px
				margin 0 !important
				height auto
	.desc
		text-align center
		padding 0 15px
		@media(max-width: 1129px)
			br
				display none
		p
			font-size 31px
			line-height 35px
			font-family 'peugeotlight'
			color $white
		@media(max-width: 749px)
			padding 0
			p
				font-size 20px
				line-height 24px
	@media(max-width: 749px)
		&.content-inner
			.content
				padding 20px 0 150px
				background url('../i/bg-home.jpg') no-repeat center center / cover
		h1
			font-size 50px
			line-height 60px
			margin-bottom 50px
			img
				margin 15px
		#bgvid
			display none
	@media(min-width: 750px) and (max-width: 969px)
		h1
			font-size 50px
			margin-bottom 50px
	@media(min-width: 970px) and (max-width: 1499px)
		.container-fluid
			padding-bottom 100px
		h1
			margin-bottom 30px

#bgvid
	position absolute
	top 50%
	left 50%
	min-width 100%
	min-height 100%
	width auto
	height auto
	z-index -100
	transform translateX(-50%) translateY(-50%)

.scroll
	position absolute
	right 0
	bottom 0
	left 0
	margin auto
	text-align center
	padding-bottom 112px
	&:before
		content ""
		position absolute
		right 0
		bottom 0
		left 0
		margin auto
		width 2px
		height 95px
		display block
		background $white
	span
		font-size 23px
		line-height 1.2
		font-family 'peugeotlight'
		transform rotate(-90deg) translate(-50%, 50%)
		display inline-block
		transform-origin 0 0
		line-height 1
	@media(max-width: 749px)
		padding-bottom 80px
		&:before
			height 60px
	@media(min-width: 992px) and (max-width: 1499px)
		padding-bottom 80px
		&:before
			height 60px

// adaptive height
@media (min-width: 750px) and (max-width: 969px) and (min-height: 745px)
	.home-view
	.home
		height 100vh
	.home
		&.content-inner
			.ver-center
				top 50%
				transform translate(0, -50%)
@media (min-width: 970px) and (max-width: 1169px) and (max-height: 749px)
	.home
		&.content-inner
			.content
				padding 70px 0 170px 0
@media (min-width: 1170px) and (max-width: 1899px) and (max-height: 874px)
	.home
		&.content-inner
			.content
				padding 100px 0 150px
@media (min-width: 1900px) and (max-height: 759px)
	.home
		&.content-inner
			.content
				padding 100px 0 200px
// FIX
@media (min-width: 970px) and (max-width: 1169px) and (min-height: 750px)
	.home-view
	.home
		height 100vh
	.home
		&.content-inner
			.ver-center
				top 50%
				transform translate(0, -50%)
@media (min-width: 1170px) and (max-width: 1899px) and (min-height: 880px)
	.home-view
	.home
		height 100vh
	.home
		&.content-inner
			.ver-center
				top 50%
				transform translate(0, -50%)
@media (min-width: 1900px) and (min-height: 760px)
	.home-view
	.home
		height 100vh
	.home
		&.content-inner
			.ver-center
				top 50%
				transform translate(0, -50%)
@media (min-width: 970px) and (max-height: 765px)
	.home
		&.content-inner
			.content
				padding 20px 0 150px
			h1
				font-size 100px
