.story
	.intro
		background-position center top
		background-repeat no-repeat
		background-size cover
		background-attachment fixed
		color $white
		margin 0 -15px
		text-align center
		&.overlay
			&:before
				background alpha($blueDark, 0.3)
		.title-wrap
			margin-bottom 50px
			@media (min-width: 750px)
				text-align center
				margin-right -100px
		.title
			color $white
			padding 40px 0 0 0
		h1
		.desc
			padding 0 25px
			position relative
			z-index 1
		h1
			font-size 133px
			line-height 1
			margin-bottom 58px
			font-family 'peugeotbold_italic', sans-serif
		.desc
			margin-bottom 60px
			p
				font-size 23px
				color $white
	.scroll
		padding-bottom 65px
		span
			color $white
			font-family 'Exo 2', sans-serif
			font-weight 400
			font-style italic
			font-size 16px
			text-transform uppercase
			transform rotate(-90deg) translate(-50%, 90%)
		&:before
			height 47px
	.enroll
		margin 0 -15px
		background $gray
	.story-content
		margin 0 -15px
		padding-top 40px
		.section
		.panel-grid
			margin-bottom 30px
			img
				max-width 100%
				display block
				margin 0 auto
@media(max-width: 749px)
	.story
		.intro
			.title-wrap
				text-align right
				transform-origin right top
				transform scale(0.5)
				margin-bottom 0
			.title
				padding 15px 15px 0 0
			h1
				font-size 22px
				line-height 30px
			.desc
				p
					font-size 18px
@media(min-width: 750px) and (max-width: 1169px)
	.story
		.intro
			h1
				font-size 80px
@media(min-width: 970px)
	.story
		.intro
			.desc
				margin 0 auto 55px
				width 660px

.story
	.scroll-wrap
		position relative
		padding-bottom 140px
		@media(max-width: 749px)
			padding-bottom 120px
		@media(min-width: 750px) and (max-width: 969px)
			padding-bottom 120px
		@media(min-width: 970px) and (max-width: 1169px)
			padding-bottom 130px
		@media(min-width: 1170px) and (max-width: 1899px)
			padding-bottom 120px